.venv/
__pycache__/
.env*

*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

instance/
.flaskenv
*.db
*.sqlite
*.sqlite3

.vscode/
.idea/
*.swp
*.swo

migrations/versions/